.property-card img {
  height: 150px; 
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.property-card {
  cursor: pointer;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s;
}

.property-card:hover {
  transform: translateY(-3px);
}

.property-card .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.property-card .card-body .content {
  flex-grow: 1;
}

.property-card .card-body .status-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 5px;
}

.property-card .heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  color: #FF385C;
}

.property-card .card-body .status-wrapper .status-button {
  font-size: 0.75rem;
  padding: 3px 6px;
  border-radius: 5px;
  cursor: default;
}

.property-card .card-body .status-available {
  border: 1px solid white;
  background-color: grey;
  color: white;
}

.property-card .card-body .status-unavailable {
  border: 1px solid grey;
  background-color: white;
  color: grey;
}

.property-card .admin-links {
  display: flex;
  gap: 8px;
  font-style: italic;
}

.property-card .admin-links span {
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.8rem;
}

.property-card .admin-links .edit {
  color: rgb(94, 94, 236);
}

.property-card .admin-links .delete {
  color: #FF385C;
}

/* Typography */
.property-title {
  font-size: 0.9rem!important;
  margin-bottom: 5px;
}

.property-text {
  font-size: 0.75rem!important;
  margin-bottom: 3px;
}

.bg-pink {
    background-color: #FF385C !important;
  }