.navbar-logo {
  max-height: 60px;
  width: auto;
}

.btn-outline-dark {
  width: 40px;
  height: 40px;
  padding: 0!important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #343a40;
  background: transparent;
  transition: all 0.3s;
}

.btn-outline-dark svg {
  font-size: 18px;
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  min-width: 200px;
}

.user-greeting {
  font-size: 1rem;
}
