@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; 
}

footer{
  background-color: #f8f9fa; 
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #555;
}

nav {
  background: #f8f9fa;
}
p {
  margin: 0!important;
}
nav {
  font-size: 0.8rem!important;
}