@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
}
body, html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; 
  padding-top: 120px;
}

footer{
  background-color: #f8f9fa; 
  font-size: 0.85rem;
  color: #000;
}

nav {
  background: #f8f9fa;
  font-size: 0.8rem!important;
}
p {
  margin: 0!important;
}
.btn-pink{
  background-color:#FF385C ;
  color: white;
  border: 1px solid #FF385C ;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
}
.btn-pink:hover{
  background-color: #fff;
  color: #FF385C ;
  text-decoration: none;
  border: 1px solid #FF385C ;
}

.btn-outline-pink{
  background-color: white;
  color: #FF385C ;
  border: 1px solid #FF385C ;
  padding: 6px 12px;
  text-align: center;
  border-radius: 8px;
}
.btn-outline-pink:hover{
  background-color: #FF385C ;
  color: white;
  border: 1px solid #FF385C ;
}

.custom-dropdown {
  margin-top: 8px!important; 
}
.btn-black{
  background-color:#222222 ;
  color: white;
  border: 1px solid #222222 ;
  padding: 6px 12px;
  text-align: center;
  border-radius: 8px;
}
.btn-black:hover{
  background-color: #fff;
  color: #222222 ;
  text-decoration: none;
  border: 1px solid #222222 ;
}
.btn-outline-black{
  background-color: white;
  color: #222222 ;
  border: 1px solid #222222 ;
  padding: 6px 12px;
  text-align: center;
  border-radius: 8px;
}
.btn-outline-black:hover{
  background-color: #222222 ;
  color: white;
  border: 1px solid #222222 ; 
  text-decoration: none;
}
.btn-lg{
  padding: 12px 24px;
  font-size: 1rem;
}


 .fade-in {
    animation: fadeIn 0.5s ease forwards;
  }
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }